<% content_for :tail do %>
  <%= javascript_include_tag "upload", :cache => true %>
<% end %>

<%= render "student/shared/menu" %>
<%= simple_form_for @profile, :url => student_profile_path, :method => :put do |f| %>
  <%= f.error_notification %>
  <div class="ui two column relaxed fitted stackable grid">
    <div class="three wide column">
      <div class="ui tiny card">
        <div class="ui slide masked image">
          <%= image_tag @profile.avatar(:thumb), :class => "visible content profile_avatar_img" %>
        </div>
        <div class="content">
          <a class="header">
            <div class="fileUpload">
              <label for="file" class="ui icon">
                  <i class="file icon"></i>
                  Edit Avatar</label>
              <input id="avatar_upload" type="file" name="profile[avatar]" data-url="<%= upload_avatar_student_profile_path %>" multiple>
            </div>
            
          </a>
          
          
          <div class="description">
            <script id="template-upload" type="text/x-tmpl">
              <div class="ui teal progress" data-percent="0" id="upload_progress">
                <div class="bar"></div>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="six wide field ">
        <input placeholder="<%= current_user.email %>" disabled="disabled" type="text">
      </div>
      <div class="six wide field ">
        <input placeholder="<%= @profile.level %>" disabled="disabled" type="text">
      </div>
      <div class="six wide field ">
        <%= f.input :real_name, :placeholder => 'Real Name', :label => false %>
      </div>
      <div class="six wide field ">
        <%= f.input :phone, :placeholder => 'Phone Number', :label => false %>
      </div>
      <div class="six wide field ">
        <%= f.input :address, :placeholder => 'Address', :label => false %>
      </div>
      <div class="six wide field ">
        <%= f.input :zip_code, :placeholder => 'Zip Code', :label => false %>
      </div>
      <div class="six wide field ">
        <%= f.input :wechat, :placeholder => 'Wechat ID', :label => false  %>
      </div>
      <div class="six wide field ">
        <%= f.input :qq, :placeholder => 'QQ ID', :label => false  %>
      </div>
      <%= f.button :submit, 'Save', :class => 'profile_submit' %>
    </div>
  </div>
<% end %>