<% content_for :tail do %>
  <script type="text/javascript">
  $("input[name='course[kind]']").change(function(){
    var ctype = $(this).val();
    if(ctype == 'Test'){
      $(".level_field").hide();
      $(".duration_field").hide();
      $(".levels_fields").show();
    }else{
      $(".level_field").show();
      $(".duration_field").show();
      $(".levels_fields").hide();
    }
  });



  <% 4.times do |i| %>
    if($("#to_<%= i + 2 %>" ).val() != ''){
      $("#from_<%= i + 1 %>").text($("#to_<%= i %>" ).val());
    }

    $("#to_<%= i + 1 %>" ).focus(function() {
      <% (i+2..4).each do |j| %>
        $("#from_<%= j %>").text('-')
      <% end %>
      $("#from_<%= i + 1 %>").text($("#to_<%= i %>").val());
    });
  <% end %>

  
  </script>
<% end %>

<div class="four wide field">
  <%= f.input :title %>
</div>

<div class="four wide icon field">
  <label>Type</label>
  <div class="ui search selection dropdown">
    <input type="hidden" name="course[kind]" value="<%= resource.kind %>">
    <i class="dropdown icon"></i>
    <div class="default text">Type</div>
    <div class="menu">
      <% Course::KIND_SELECTION.each do |option|%>
        <div class="item" data-value="<%= option %>"><%= option %></div>
      <% end %>
    </div>
  </div>
</div>

  <div class="levels_fields field" <%= "style=display:none" if resource.kind != 'Test' %>>
    <label>Standard</label>
    <% 5.times do |i| %>
      <div class="inline field">
        <span id="from_<%= i %>"><%= i == 0 ? 0 : '-' %></span> - <input type="text" placeholder="0" name="course[standard][<%= i + 1 %>]" value="<%= resource.standard[(i + 1).to_s] %>" id="to_<%= i %>"> Correct is Level <%= i + 1 %>
      </div>
    <% end %>
  </div>


<div class="four wide icon level_field field">
  <label>Level</label>
  <div class="ui search selection dropdown">
    <input type="hidden" name="course[level]" value="<%= resource.level %>">
    <i class="dropdown icon"></i>
    <div class="default text">Level</div>
    <div class="menu">
      <% Course::LEVEL_SELECTION.each do |option|%>
        <div class="item" data-value="<%= option %>"><%= option %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="four wide duration_field field">
  <label>Duration</label>
  <div class="ui search selection dropdown">
    <input type="hidden" name="course[duration]" value="<%= resource.duration %>">
    <i class="dropdown icon"></i>
    <div class="default text">Duration</div>
    <div class="menu">
      <% Course::DURATION_SELECTION.each do |option|%>
        <div class="item" data-value="<%= option %>"><%= option %></div>
      <% end %>
    </div>
  </div>
</div>