<%= render "student/shared/menu" %>

<% @joined_courses.each do |course| %>
<% if course.kind != 'Test' %>
<div class="ui piled segment">

  <div class="ui horizontal segment">
    <h2>Book: <%=course.title %></h2>
  </div>

  <div class="ui bulleted list">
    <% course.units.each do |unit| %>
    <% ue = UnitEvaluation.find_by(unit: unit, user: current_user) %>
    <% next unless ue %>
    <div class="item">
      <a><%= unit.title %></a>
      <div class="list">
        <% unless ue.expectation.eql? 'None' %>
        <div class="ui yellow empty label">
          Your Multiple Choice Questions: <%= ue.expectation %> Expectations.
        </div>
        <% end %>
        <% unit.questions.each do |question| %>
        <% if question.kind == 'Question' %>
        <a class="item">
          <% homework = current_user.homeworks.find_by question: question %>
          <% if homework.nil? || (!homework.nil? and homework.question.kind == 'Question' && homework.feedback.nil?) %>
          <a><%= question.content %></a>
          <div class="ui gray empty circular label"></div>
          <% else %>
          <%= link_to question.content, student_feedback_path(question) %>
          <div class="ui green empty circular label"></div>
          <% end %>
        </a>
        <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
