<%= render "student/shared/menu" %>
<% unless current_user.current_course %>
<center>
<div class="ui green empty label">
  <h2>Well done, you have finished all your homeworks!<br> Take a break.</h2>
</div>
</center>
<% else %>
<div class="ui piled segment">
  <div class="ui two column grid">
    <div class="column">
      <div class="ui horizontal segment">
        <h4>Book: <%= current_user.current_course.title %></h4>
      </div>
    </div>
    <div class="column">
      <div class="ui horizontal segment">
        <div class="ui teal progress" data-percent="<%= number_to_percentage(current_user.course_percentage * 100, precision: 2 ) %>">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">Progress</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui two column grid">
    <div class="column">
      <div class="ui horizontal segment">
        <h4>Unit: <%= current_user.current_unit.title %></h4>
        <% if current_user.current_unit.pdf.exists? %>
        <%= link_to "Download PDF File", current_user.current_unit.pdf.to_s, :class => 'ui black tag label', :target => "blank" %>
        <% end %>
      </div>
    </div>
    <div class="column">
      <div class="ui horizontal segment">
        <div class="ui teal progress" data-percent="<%= number_to_percentage(current_user.unit_percentage * 100, precision: 2 ) %>">
          <div class="bar">
            <div class="progress"></div>
          </div>
          <div class="label">Progress</div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui two column centered grid">
    <div class="column"></div>
    <div class="column">
      <% unless current_user.finish_current_unit? %>
      <a class="ui right labeled icon green button" href="<%= answer_question_student_homeworks_path %>">
        <i class="edit icon"></i>Do Homework
      </a>
      <% else %>
      <a class="ui right labeled icon green button" href="<%= student_feedbacks_path %>">
        <i class="edit icon"></i>View Feedback
      </a>
      <% end %>
    </div>
  </div>
</div>
<% end %>
