<div class="ui green empty label">
  Homework Progress Report: <%= resource.profile.real_name || resource.username %>
</div>
<table class="ui celled striped table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Unit</th>
      <th>MCQ Grade</th>
      <th>Time Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
    <tr>
      <td>
        <i class="book icon"></i> <%= report[0] %>
      </td>
      <td>
        <i class="file text icon"></i> <%= report[1] %>
      </td>
      <td><%= report[2] %>%</td>
      <td><%= distance_of_time_in_words report[3], report[4] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
