<%= render "student/shared/menu" %>

<div class="ui segment">
  <% unless @question.nil? %>
    <div class="ui ribbon green huge label">
      <%= @question.unit.question_index(@question) %>
    </div>
  <% end %>
  <% if @question.nil? %>
  <center>
    <h2>Well done, you have finished your homework!</h2>
    <h3><%= current_user.current_course.title %> -- <%= current_user.current_unit.title %></h3>
    <a class="ui right labeled icon yellow button" onclick="showMessage()">
      <i class="edit icon"></i>Send To Teacher
    </a>
  </center>
  <% else %>
    <h4><%= current_user.current_course.kind %></h4>
    <div class="ui right floated secondary menu">
      <% if current_user.current_unit.pdf.exists? %>
        <%= link_to "Download PDF File", current_user.current_unit.pdf.to_s, :class => 'ui black tag label', :target => "blank" %>
      <% end %>
    </div>
    <h4 class="ui header">Course: <%= @question.unit.course.title %></h4>
    <h4 class="ui header">Unit: <%= @question.unit.title %></h4>
    <h4 class="ui header">Question(<%= @question.kind %>): <%= @question.content %></h4>

    <%= form_tag student_homeworks_path, :method => :post, :class =>"ui form" do %>
      <%= hidden_field_tag "homework[question_id]", @question.id %>
      <% if @question.kind == 'MCQ' %>

      <div class="field">
        <% @question.choices.each do |choice| %>
          <div class="field">
            <div class="ui checkbox">
              <%= check_box_tag "homework[answer][]", choice.id %>
              <label><%= choice.content %></label>
            </div>
          </div>
        <% end %>
      </div>

      <% else %>
        <div class="seven wide field">
          <%= text_area_tag "homework[answer][]", '', autofocus: true %>
        </div>
      <% end %>
      <%= submit_tag "Submit", :class => "ui blue button" %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  function showMessage(){
    sweetAlert({  title: "Are you sure?",
                  text: "The homework will be sent to teacher for asking feedback.",
                  type: "warning",
                  showCancelButton: true,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "Yes, send it!",
                  cancelButtonText: "No, cancel please!",
                  closeOnConfirm: false,
                  closeOnCancel: false
                },
                  function(isConfirm){
                    if(isConfirm){
                      // ajax call to mark this unit as submitted
                      $.ajax({
                        method: "POST",
                        url: "<%= student_homework_submit_path current_user.current_unit%>"
                      })
                      .done(function() {
                        sweetAlert("Done!", "Your homework has been sent.", "success");
                        window.location.href = "<%= student_homeworks_path %>";
                      })
                      .fail(function() {
                        sweetAlert("Failed", "Action is failed!", "error");
                      });
                    } else {
                      sweetAlert("Cancelled", "You can send it later.", "error");
                    }
                  }
                );
  }
</script>
