<div class="ui grid">
  <div class="computer tablet only row">
    <div class="ui inverted fixed menu navbar page grid">
      <a href="" class="brand item brand_site">
        <%= image_tag "logo.png", :class => "site_logo" %>
      </a>
      <a class="item site_name"><%= Settings.site_name %></a>
      <%= link_to "Home", admin_root_path, :class => "item #{'active' if current_page?(admin_root_path)}" %>
      <% if admin_signed_in? %>
        <div class="ui dropdown item">Admins & Roles
          <i class="dropdown icon"></i>
          <div class="menu ui transition">
            <%= link_to "Admins List", admin_admins_path, :class => "item" %>
            <%= link_to "Roles List", admin_roles_path, :class => "item" %>
            <%= link_to "Permissions List", admin_permissions_path, :class => "item" %>
          </div>
        </div>
        <%= link_to raw("Students"), admin_users_path, :class => "item" %>
        <%= link_to raw("Courses"), admin_courses_path, :class => "item" %>
        <%= link_to raw("Homework Review"), admin_homeworks_path, :class => "item" %>

      <% end %>
      <div class="right menu">
        <% if admin_signed_in? %>
        <div class="ui dropdown item"><%= current_admin.username %>
          <i class="dropdown icon"></i>
          <div class="menu ui transition">
            <%= link_to "Log out", destroy_admin_session_path, :class => "item" %>
            <a class="ui divider"></a>
            <%= link_to "Change Password", edit_password_admin_admins_path, :class => "item" %>
          </div>
        </div>
        <% else %>
          <%= link_to raw("Log In"), new_admin_session_path, :class => "item" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mobile only row">
    <div class="ui fixed inverted navbar menu">
      <a href="" class="brand item"><%= Settings.site_name %> Admin Panel</a>
      <a class="launch item right">
        <i class="content icon"></i>
        Menu
      </a>
    </div>
  </div>
</div>