<% begin %>
  <% batch_operation_resources_path %>
  <% support_operation = true %>
<% rescue %>
  <% support_operation = false %>
<% end %>

<% if support_operation %>
  <% content_for :tail do %>
    <script type="text/javascript">
    $( ".batch_form" ).submit(function( event ) {
      var n = $( "input:checked" ).length;
      if(n == 0){
        alert("Please select students first!")
        event.preventDefault();
      }
    });
    </script>
  <% end %>
<% end %>


<h3 class="ui dividing header">
  <%= I18n.t "activerecord.models.#{collection.klass.to_s.downcase}" %> List
</h3>
<% if params[:q] %>
  Search "<%= params[:q] %>" Result
<% end %>

<% if  support_operation %>
  <%= form_tag batch_operation_resources_path, :class => 'batch_form' do %>
    <table class="ui seven small sortable celled table segment">
      <thead>
        <tr>
          <th></th>
          <% display_arr.each do |elem| %>
            <th>
              <%= I18n.t "activerecord.attributes.#{collection.klass.to_s.downcase}.#{elem}" %>
            </th>
          <% end %>
          <th>Operate</th>
        </tr>
      </thead>

      <tbody>
        <% collection.each do |resource| %>
          <%= render :partial => "admin/shared/record_row", :locals => {:display_arr => display_arr, :resource => resource, :support_operation => support_operation } %>
        <% end %>
      </tbody>
    </table>
    
    <%= submit_tag 'Batch Delete', :class => "ui inverted red button" %>
  <% end %>
<% else %>
  <table class="ui seven small sortable celled table segment">
    <thead>
      <tr>
        <% display_arr.each do |elem| %>
          <th>
            <%= I18n.t "activerecord.attributes.#{collection.klass.to_s.downcase}.#{elem}" %>
          </th>
        <% end %>
        <th>Operate</th>
      </tr>
    </thead>

    <tbody>
      <% collection.each do |resource| %>
        <%= render :partial => "admin/shared/record_row", :locals => {:display_arr => display_arr, :resource => resource} %>
      <% end %>
    </tbody>
  </table>
<% end %>



<div class="ui column center aligned stackable paginate">
  <%= paginate collection %>
</div>
<%= render "admin/shared/page_links" %>