<% begin %>
  <% support_operation %>
<% rescue %>
  <% support_operation = false %>
<% end %>

<tr id="<%= resource.class.to_s.downcase %>_<%= resource.id %>">
  <% if support_operation %>
    <td><%= check_box_tag "#{resource.class.to_s.downcase}_ids[]", resource.id %></td>
  <% end %>
  <% display_arr.each do |elem| %>

    <td>
      <% if resource.send(elem).class == Paperclip::Attachment %>
        <%= link_to raw(resource.send(elem).original_filename), resource.send(elem).to_s %>
      <% elsif resource.send(elem).class == ActiveSupport::TimeWithZone %>
        <%= format_time resource.send(elem) %>
      <% else %>
        <%= raw resource.send(elem) %>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= render :partial => "admin/shared/basic_operate", :locals => {:resource => resource }%>
  </td>
</tr>