<%= f.input :username %>
<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>
<%= hidden_field_tag "admin[role_ids][]", "" %>

<div class="grouped inline fields">
  <%= f.label "Roles" %>
  <% for role in Role.all %>
    <div class="field">
      <div class="ui checkbox">
        <%= check_box_tag "admin[role_ids][]", role.id, @admin.roles.include?(role) %>
        <label><%=h role.title %></label>
      </div>
    </div>
  <% end %>
</div>



