<h3 class="ui dividing header">
  <%= I18n.t "activerecord.models.#{resource.class.to_s.downcase}" %> Detail
</h3>

<table class="ui seven small celled table segment">
  <thead>
    <tr>
      <% display_arr.each do |elem| %>
        <th>
          <%= I18n.t "activerecord.attributes.#{collection.klass.to_s.downcase}.#{elem}" %>
        </th>
      <% end %>
      <th>Operate</th>
    </tr>
  </thead>

  <tbody>
    
      <%= render :partial => "admin/shared/record_row", :locals => {:display_arr => display_arr, :resource => resource} %>
    
  </tbody>
</table>
<%= yield :extra_content %>
<%= render "admin/shared/page_links" %>