
  <%= render "student/shared/menu" %>
  
  <div class="ui two column relaxed fitted stackable grid">
    <div class="three wide column">
      <div class="ui tiny card">
        <div class="ui slide masked image">
          <%= image_tag current_user.profile.avatar(:thumb), :class => "visible content profile_avatar_img" %>
        </div>
        <div class="content">
          <a class="header">
            <div class="fileUpload">
              <label for="file" class="ui icon">
                  <%= link_to raw('<i class="edit icon"></i>
                  Edit Profile'), student_profile_path %></label>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="column">
      <h2>Welcome back, <%= current_user.display_name %>!</h2>
      <div class="ui divider"></div>
      <h4> Your level: <a class="ui black circular label"><%= current_user.profile.level %></a></h4>
      <h4>You'll get your book soon.</h4>
    </div>
  </div>