<div class="seven wide field">
  <h2>Question</h2>
  <h3><%= resource.question.content %></h3>
  <div class="ui divider"></div>
  <h2>Student Response</h2>
  <h3><%= resource.answer %></h3>
  <div class="ui divider"></div>
  <h2>Teacher Feedback</h2>
</div>
<div class="seven wide field">
  <h3><%= resource.feedback %></h3>
</div>

<div class="ui divider"></div>

<%= link_to raw("<i class='icon tasks'></i>Back To #{I18n.t "activerecord.models.#{resource.class.to_s.downcase}"} List"), collection_path, :class => "ui black button" %>

  <%= link_to raw("<i class='icon edit'></i> Feedback"), edit_resource_path(resource), :class => "ui green button" %> 