<%= render "student/shared/menu" %>
<div class="ui segment">
  <h4 class="ui header">Course: <%= @question.unit.course.title %></h4>
  <h4 class="ui header">Unit: <%= @question.unit.title %></h4>
  <h4 class="ui header">Question(<%= @question.kind %>): <%= @question.content %></h4>


  <div class="ui two column grid">
    <% if @question.kind == 'MCQ' %>
      <div class="column">
        <h4>Your response</h4>
        <div class="ui tall stacked segment">
          <% @question.choices.each do |choice| %>
            <div class="field">
              <% if @feedback.answer.include?(choice.id.to_s) %>
                <i class="checkmark icon"></i>
              <% else %>
                <i class="remove icon"></i>
              <% end %>
              <label><%= choice.content %></label>
            </div>
          <% end %>
        </div>
      </div>

      <div class="column">
        <h4>Correct Answer</h4>
        <div class="ui tall stacked segment">
          <% @question.choices.each do |choice| %>
            <div class="field">
              <% if choice.is_correct %>
                <i class="checkmark icon"></i>
              <% else %>
                <i class="remove icon"></i>
              <% end %>
              <label><%= choice.content %></label>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="column">
        <h4>Your response</h4>
        <div class="ui tall stacked segment">
          <%= @feedback.answer%>
        </div>
      </div>
      <div class="column">
        <h4>Teacher feedback</h4>
        <div class="ui tall stacked segment">
          <%= @feedback.feedback %>
        </div>
      </div>
    <% end %>
  </div>
</div>
