<div class="ui right vertical inverted labeled icon sidebar menu">
  <%= link_to "Home", admin_root_path, :class => "item #{'active' if current_page?(admin_root_path)}" %>
  <% if admin_signed_in? %>
    <%= link_to "Admins List", admin_admins_path, :class => "item" %>
    <%= link_to "Roles List", admin_roles_path, :class => "item" %>
    <%= link_to "Permissions List", admin_permissions_path, :class => "item" %>
  <% end %>
  <%= link_to raw("Students"), admin_users_path, :class => "item" %>
  <% if admin_signed_in? %>
    <%= link_to "Log out", destroy_admin_session_path, :class => "item" %>
    <%= link_to "Change Password", edit_password_admin_admins_path, :class => "item" %>
  <% else %>
    <%= link_to raw("Log In"), new_admin_session_path, :class => "item" %>
  <% end %>
</div>



