<h3 class="ui dividing header">
  New <%= I18n.t "activerecord.models.#{resource.class.to_s.downcase}" %>
</h3>
<%= simple_form_for resource, :url => collection_path(resource), :method => :post do |f| %>
  <%= f.error_notification %>
  <%= render "shared/error_detail" %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <%= f.button :submit, 'Save' %>
<% end %>
<%= render "admin/shared/page_links" %>