<div class="divider ui"></div>
<% if action_name == 'show'%>
  <%= link_to raw("<i class='icon tasks'></i>Back To #{I18n.t "activerecord.models.#{resource.class.to_s.downcase}"} List"), collection_path, :class => "ui black button" %>

  <%= link_to raw("<i class='icon edit'></i> Edit"), edit_resource_path(resource), :class => "ui green button" %> 

  <%= link_to raw("<i class='icon remove'></i> Destroy"), resource_path(resource), method: :delete, data: { confirm: "Are You Sure?" }, :class => "ui red button" %>
  
  <%= link_to raw("<i class='square icon add'></i> Continue New"), new_resource_path(resource), :class => "ui green button" %> 
<% elsif action_name == 'edit' %>
    <%= link_to raw("<i class='icon tasks'></i>Back To #{I18n.t "activerecord.models.#{resource.class.to_s.downcase}"} List"), collection_path, :class => "ui black button" %>
    <%= link_to raw("<i class='icon unhide'></i>Preview"), resource_path(resource), :class => "ui blue button" %>
<% elsif action_name == 'new' %>
    <%= link_to raw("<i class='icon tasks'></i>Back To #{I18n.t "activerecord.models.#{resource.class.to_s.downcase}"} List"), collection_path, :class => "ui black button" %>
<% elsif action_name == 'index' %>
    <%= link_to raw("<i class='add square icon'></i>New"), new_resource_path, :class => "ui black button" %>

<% end %>