<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.site_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :head %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/head_nav" %>
  <%= render "shared/mobile_side_menu" %>
  <div class="pusher">
    <%= render "shared/flash_notice" %>
    
    <div class="ui page grid main">
      <div class="row">
        <div class="column padding-reset">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

    
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :tail %>
</body>
</html>

